<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

      
  <!-- </ion-content> -->
    <h1 align="center" id="aboutMainLogo"><ion-icon name="person-circle-outline"></ion-icon></h1>
    <h3 align = center style="margin-top: -55px;">Default Account</h3>
    <pre>
      <h4 style="margin-top: -15px;color: #70e170;">Delevloper Details :</h4>
       <b style="color: tomato;">Email :</b> 
             <a href="mailto:rohela.keshav@gmail.com">rohela.keshav@gmail.com</a> 
       <b style="color: tomato;">Address :</b> 
             Jaspur Udham Singh Nagar, 
             244712
             Uttarakhand, India
       <b style="color: tomato;">Instagram :</b> 
             <ion-icon style="font-size: 20px;" name="logo-instagram"></ion-icon><a href="https://www.instagram.com/keshavruhela1/">@keshavruhela1</a>
       <b style="color: tomato;">Linkedin :</b> 
             <ion-icon name="logo-linkedin" style="font-size: 20px;"></ion-icon><a href="https://www.linkedin.com/in/keshav-ruhela-554616217">rohela.keshav@gmail.com</a>
      </pre>
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>